<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Setka</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <div class="col-3">
                        <div class="card">
                            1 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            2 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            3 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            4 товар
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="col-3">
                        <div class="card">
                            1 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            2 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            3 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            4 товар
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <ul class="slider">
                            <li><img src="img/bubble.jpg"></li>
                            <li><img src="img/colors.jpg"></li>
                            <li class="active"><img src="img/glass.jpg"></li>
                        </ul>
                        <div class="content">
                            <p>текст текст текст текст текст текст текст текст текст текст текст текст текст текст<br>
                                текст текст текст текст текст текст текст текст текст текст текст текст текст текст<br>
                                текст текст текст текст текст текст текст текст текст текст текст текст текст текст<br>
                                текст текст текст текст текст текст текст текст текст текст текст текст текст текст</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="col-3">
                        <div class="card">
                            1 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            2 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            3 товар
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card">
                            4 товар
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Поиск</a></li>
                <li><a href="#">Войти</a></li>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Поиск</a></li>
                <li><a href="#">Войти</a></li>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Каталог</a></li>
                <li><a href="#">Поиск</a></li>
                <li><a href="#">Войти</a></li>
            </ul>
        </div>
    </div>

</body>

</html>