<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homework of the first lesson">
    <meta name="keywords" content="homework, lesson, first lesson, itmo">
    <title>Homework one</title>
</head>

<body>

    <ul type="disc">
        <li><a href="#one"><em>Household equipment</em></a></li>
        <li><a href="#two"><strong>Home electronics</strong></a></li>
        <li><a href="#three"><em>Pet products</em></a></li>
    </ul>

    <div id="one" align="left" title="Household equipment">
        <h1><strong>Household equipment</strong></h1>
        <img src="byt.jpg" height="200" width="200" alt="equipment">
    </div>

    <div id="two" align="center" title="Home electronics">
        <h1><strong>Home electronics</strong></h1>
        <img src="electro.jpg" height="200" width="200" alt="electronics">
    </div>

    <div id="three" align="right" title="Pet products">
        <h1><strong>Pet products</strong></h1>
        <img src="animals.jpg" height="200" width="200" alt="Pets">
    </div>

</body>

</html>