<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homework of the first lesson, page3">
    <meta name="keywords" content="homework, lesson, first lesson, itmo">
    <title>Homework page3</title>
</head>

<body>
    <h1 align="center"><strong>Internet shop</strong></h1>
    <h2 align="center"><em>Online odering</em></h2>
    <h2 align="center"><em>Online payment</em></h2>

    <blockquote>Интернет-магазин (англ. online shop или e-shop) — сайт, торгующий товарами посредством сети Интернет.
        <p>Позволяет пользователям онлайн, в своём браузере или через мобильное приложение, сформировать заказ на
            покупку,
            выбрать способ оплаты и доставки заказа, оплатить заказ.<br> При этом продажа товаров осуществляется
            дистанционным способом
            и она накладывает ограничения на продаваемые товары.<br> Так, в некоторых странах имеется запрет на
            интернет-торговлю алкоголем,
            оружием, ювелирными изделиями и другими товарами<br> (к примеру, в России запрещена дистанционная продажа
            алкоголя,
            ювелирных изделий и других товаров, свободная реализация которых запрещена или ограничена).</p>

        <p>Когда онлайн-магазин настроен на то, чтобы позволить компаниям покупать у других компаний, этот процесс
            называется онлайн-магазинами бизнес для бизнеса (B2B).
            Типичный интернет-магазин позволяет клиенту просматривать ассортимент продуктов и услуг фирмы, просматривать
            фотографии или изображения продуктов, а также информацию
            о технических характеристиках продукта и ценах.</p>
    </blockquote>

    <ul type="disc">
        <li><a href="#one"><em>Household equipment</em></a></li>
        <li><a href="#two"><strong>Home electronics</strong></a></li>
        <li><a href="#three"><em>Pet products</em></a></li>
    </ul>

    <div id="one" align="left" title="Household equipment">
        <h1><strong>Household equipment</strong></h1>
        <img src="byt.jpg" height="200" width="200" alt="equipment">

        <table>
            <caption>Product range</caption>
            <tbody>
                <tr>
                    <th align="left">refrigerator</th>
                    <th align="left">washing machine</th>
                    <th align="left">Vacuum cleaner</th>
                    <th align="left">Electric stove</th>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                </tr>
                <tr>
                    <td>Hotpoint-Ariston</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                </tr>
                <tr>
                    <td>Indesit</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="two" align="center" title="Home electronics">
        <h1><strong>Home electronics</strong></h1>
        <img src="electro.jpg" height="200" width="200" alt="electronics">

        <table>
            <caption>Product range</caption>
            <tbody>
                <tr>
                    <th align="left">Monitors</th>
                    <th align="left">Notebooks</th>
                    <th align="left">Memory</th>
                    <th align="left">Printers</th>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                </tr>
                <tr>
                    <td>Hotpoint-Ariston</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                </tr>
                <tr>
                    <td>Indesit</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="three" align="right" title="Pet products">
        <h1><strong>Pet products</strong></h1>
        <img src="animals.jpg" height="200" width="200" alt="Pets">

        <table>
            <caption>Product range</caption>
            <tbody>
                <tr>
                    <th align="left">Food</th>
                    <th align="left">Clothes</th>
                    <th align="left">dog leash</th>
                    <th align="left">Stuff</th>
                </tr>
                <tr>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                </tr>
                <tr>
                    <td>Hotpoint-Ariston</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                    <td>Indesit</td>
                </tr>
                <tr>
                    <td>Indesit</td>
                    <td>Indesit</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                </tr>
                <tr>
                    <td>Electrolux</td>
                    <td>Electrolux</td>
                    <td>Bosch</td>
                    <td>Hotpoint-Ariston</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>