<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Homework of the first lesson, page2">
    <meta name="keywords" content="homework, lesson, first lesson, itmo">
    <title>Homework page2</title>
</head>

<body>

    <ul type="square">
        <li><a href="index.html" name="#one"><em>Household equipment</em></a></li>
        <li><a href="index.html" name="#two"><strong>Home electronics</strong></a></li>
        <li><a href="index.html" name="#three"><em>Pet products</em></a></li>
    </ul>
</body>

</html>