<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
</head>
<body>
    <form enctype="application/x-www-form-urlencoded" method="POST" name="auth" >
        <fieldset>
            <legend>Sign in</legend>
            <p>
                <label>E-mail:
                <input type="email" placeholder="example@example.com" required></label>
            </p>
            <p>
                <label>Password:
                <input type="password" placeholder="Enter password" required></label>
            </p>
            <p>
                <input type="submit" value="Sign in">
            </p>
        </fieldset>
    </form>
</body>
</html>