<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Articles">
    <meta name="keywords" content="homework, lesson, third lesson, articles, css, itmo">
    <title>Articles. HW3.</title>
    <link rel="stylesheet" href="article.css">
</head>

<body>
    <div id="one" align="center" title="Mistakes">
        <h1><strong>How to avoid these 7 mistakes I made as a Junior Developer</strong></h1>
        <h2><a href="https://medium.freecodecamp.org/@chrisblakely01" class="author"><strong>Chris Blakely</strong></a>
            <em>Mar 26, 2019</em></h2>
        <img src="img/mistakes.jpg" height="300" width="350" alt="sorry, smthg gone wrong">
        <blockquote>
            <p>Beginning your career as a junior developer can be scary.
                There will be many unknown challenges, things to learn, and difficult choices to make.
                And sometimes, we get these choices wrong. It’s only natural, and we shouldn’t beat ourselves up when it
                happens.</p>

            <p>What we should do though, is learn from this. As a senior developer, I’ve made my fair share of mistakes.
                Here are the 7 big mistakes I made when I was starting out as a junior developer, and how to avoid them.
            </p>
        </blockquote>
        <p>
            <a href="https://medium.freecodecamp.org/how-to-avoid-these-7-mistakes-i-made-as-a-junior-developer-a7f26ce0f7ed"
                class="button">Read more</a>
        </p>

    </div>

    <div id="two" align="center" title="25">
        <h1><strong>25 лет Рунету</strong></h1>
        <h2><a href="https://habr.com/ru/users/worksolutions/" class="author"><strong>Максим Мул</strong></a> <em>Apr
                07, 2019</em></h2>
        <img src="img/90e.jpeg" height="300" width="350" alt="sorry, smthg gone wrong">
        <blockquote>
            <p>Что бы ни делали российские интернет-пользователи, — вводили поисковые запросы, слушали музыку, проверяли
                почту, переписывались в соцсетях, —
                делают они это преимущественно на российских сайтах.<br>
                Западным технологическим гигантам вроде Google и Facebook приходится тесниться, вопреки сложившейся в
                ходе мировой экспансии привычки.
                Это делает Рунет феноменом Всемирной Паутины, за что мы его очень любим.</p>

            <p>В этом году Рунету исполняется четверть века.
                Это хороший повод предаться ностальгии, а заодно пройтись по самым знаменательным событиям и посмотреть,
                как менялся русскоязычный сегмент сети.</p>
        </blockquote>
        <p>
            <a href="https://habr.com/ru/post/447046/" class="button">Read more</a>
        </p>
    </div>

    <div id="tree" align="center" title="JS">
        <h1><strong>What you should know about JavaScript arrays</strong></h1>
        <h2><a href="https://medium.freecodecamp.org/@thomlom" class="author"><strong>Thomas Lombart</strong></a>
            <em>Mar 28, 2019</em></h2>
        <img src="img/array.png" height="300" width="650" alt="sorry, smthg gone wrong">
        <blockquote>
            <p>Let me make a bold statement: for loops are often useless and make the code hard to read.
                When it comes to iterating over an array, finding elements, sorting it or whatever you want, there’s
                probably an array method out there that you can use.</p>

            <p>However, some of them are still not that known and used despite their usefulness.
                I’ll do the hard work for you by giving you the useful methods. Consider this article as your guide to
                JavaScript arrays methods.</p>
        </blockquote>
        <p>
            <a href="https://medium.freecodecamp.org/what-you-should-know-about-javascript-arrays-a7e5394f78f8"
                class="button">Read more</a>
        </p>
    </div>

</body>

</html>